@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Indie Flower", cursive;
	font-weight: 400;
	font-style: normal;
	padding: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.section {
	border: 2px solid black;
	padding: 40px 10px 10px;
	position: relative;
}

.title {
	position: absolute;
	top: 0;
	right: 0;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	padding: 5px;
	color: black;
	width: 130px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
}

.title1 {
	background-color: #c18a93;
}

.title2 {
	background-color: #c53030d1;
	color: white;
}

.title3 {
	background-color: #cfc387;
}

/* Desktop view */
.section {
	width: calc(33.333% - 20px);
	background-color: #848482;
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px) {
	.section {
		width: calc(50% - 10px);
	}

	.section:last-child {
		width: 100%;
	}
}

/* Mobile view */
@media (max-width: 767px) {
	.container {
		flex-direction: column;
	}

	.section {
		width: 100%;
	}
}